<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
<style>
    a{
        background-color: #142d4c;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    
      }
</style>

</head>

    
<body style = "background-image: url({{ url_for('static', filename='img/Hands.png') }});background-repeat:no-repeat;background-size:cover;">
        
        
    
   <center> <h1 style = "color: rgb(1, 2, 2);">A Gesture-Based Tool For Sterile Browsing Of Radiology Images</h1></center>
    <center><a href="{{ url_for('login') }}">Login Page</a></center><br>
    <center><a href="{{ url_for('register') }}">Register Page</a></center><br>
    

</body>

</html>